<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lanyapro.mapper.TLyUserMapper">

    <resultMap id="BaseResultMap" type="com.example.lanyapro.vo.TLyUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="addUser" column="add_user" jdbcType="VARCHAR"/>
            <result property="editUser" column="edit_user" jdbcType="VARCHAR"/>
            <result property="addDate" column="add_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        add_user,edit_user,add_date,
        update_date
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_ly_user
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_ly_user
        where  username = #{username,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_ly_user
        where  id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.lanyapro.vo.TLyUser" useGeneratedKeys="true">
        insert into t_ly_user
        ( id,username,password
        ,add_user,edit_user,add_date
        ,update_date)
        values (#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}
        ,#{addUser,jdbcType=VARCHAR},#{editUser,jdbcType=VARCHAR},#{addDate,jdbcType=TIMESTAMP}
        ,#{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.lanyapro.vo.TLyUser" useGeneratedKeys="true">
        insert into t_ly_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="addUser != null">add_user,</if>
                <if test="editUser != null">edit_user,</if>
                <if test="addDate != null">add_date,</if>
                <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="addUser != null">#{addUser,jdbcType=VARCHAR},</if>
                <if test="editUser != null">#{editUser,jdbcType=VARCHAR},</if>
                <if test="addDate != null">#{addDate,jdbcType=TIMESTAMP},</if>
                <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.lanyapro.vo.TLyUser">
        update t_ly_user
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="addUser != null">
                    add_user = #{addUser,jdbcType=VARCHAR},
                </if>
                <if test="editUser != null">
                    edit_user = #{editUser,jdbcType=VARCHAR},
                </if>
                <if test="addDate != null">
                    add_date = #{addDate,jdbcType=TIMESTAMP},
                </if>
                <if test="updateDate != null">
                    update_date = #{updateDate,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.lanyapro.vo.TLyUser">
        update t_ly_user
        set 
            username =  #{username,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            add_user =  #{addUser,jdbcType=VARCHAR},
            edit_user =  #{editUser,jdbcType=VARCHAR},
            add_date =  #{addDate,jdbcType=TIMESTAMP},
            update_date =  #{updateDate,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
